@font-face {
  font-family: 'Riviera Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Riviera Regular'), url('riviera.woff') format('woff');
}

.button {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 30%;
  right: 40%;
  border-radius: 50%;
  border-style: solid;
  border-color: #800000;
  background-color: #ffb6c1;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  font-size: 5rem;
  color: #800000;
  font-family: 'Riviera Regular';
}
